<html>
  <head>
    <title>Tentang</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <p>Situs ini dibuat oleh Cahyo Susilo. Menggunakan data dari mapbox.com dan openweathermap.org!</p>
    <img class="potrait" src="/img/robot.png" />
    </div>

    {{>footer}}
  </body>
</html>